<!DOCTYPE html>
<html>
<head>
    <title>Banterbird</title>
    <script src="/static/js/app.js" defer></script>
    <link rel="stylesheet" href="/static/css/style.css"> <!-- For CSS -->

    <link rel="preconnect" href="https://fonts.googleapis.com"> <!-- For Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Limelight&display=swap" rel="stylesheet">
</head>
<body>
    <h1>🐧 Banterbird 🐧</h1>
    <div>
        Logged in as: <strong id="username"> </strong>
    </div>
    <div>
        <h2>New Post</h2>
        <textarea id="postInput" placeholder="What's on your mind?"></textarea><br>
        <button id="tweet" onclick="submitPost()">Banter</button>
    </div>
    <hr>
    <h2>Your Feed</h2>
    <div id="feed"></div>

    <template id="post-template">
        <div class="post">
            <p><strong class="username"></strong>: <span class="message"></span></p>
            <small class="timestamp"></small>
            <hr>
        </div>
    </template>
</body>
</html>
